<center><h1>Your Address Details</h1><br><br>
<table border="2">
 <tr>
  <td><strong>City:</strong></td>
  <td><%= @address.city %></td>
  </tr>
  <tr>
  <td><strong>State:</strong></td>
  <td><%= @address.state %></td>
  </tr>
  <tr>
  <td><strong>Country:</strong></td>
  <td><%= @address.country %></td>
  </tr>
  <tr>
  <td><strong>Pin Code:</strong></td>
  <td><%= @address.pincode %></td>
  </tr>

</table>
</center>